.about{
  padding: 20px;
  padding: 40px 30px;
}
.about-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.about-col-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img{
  border-radius: 50%;
  width: 40%;
}