.navbar{
  background-color:#cee0fb97;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.298);
  width: 100%;
}
.list{
  text-decoration: none;
  color:black;
}
li:hover .list{
  color: blueviolet;
}
li:active .list{
  color: blueviolet;
}
.nav-h2{
  letter-spacing: .5rem;
}